body{
	font-family: 'Roboto Mono', monospace;
}


/*bg-colors*/
.header{
	background-color: #181617;
}

.s1{
	background-color: #1F1C1D;
}

.s2{
	background-color: #151313;
}

.s4{
	background-color: #151313;
}

.s5, .s6{
	background-color: #1F1C1D;
}

footer{
	background-color: #151313;
}


ul{

	list-style: none;
}

li{
	text-decoration: none;
}

.nav_list li{
	display: inline;
}

.nav_list{
}

.header_block{
	width: 50%;
	margin: 0 auto;
	display: block;
}